<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div style = "padding: 0% 15%;">
      <div style = "background: rgb(180,42,103); background: linear-gradient(90deg, rgba(180,42,103,1) 0%, rgba(226,105,100,1) 100%); padding: 1% 0%;" >
        <img style = "position: relative; width: 15%; margin-left: 44%;" src="https://dl3.pushbulletusercontent.com/VAsO7fc9CjUUvEB2zpZGQ84cRXqZgzYt/logo.b5a121d1.png" />
      </div>

      <div style = "background: #d9f6fa; font-family: 'Quicksand', sans-serif; padding: 1% 0;">
        <p style = "color: #EB7768; font-size: 25px; font-weight: bold; padding: 1% 10%;">
          Estimado {{ usuario }},
        </p>

        <p style = "overflow-wrap: break-word; font-weight: 500; font-size: 18px; padding: 1% 10%;">
          Gracias por utilizar Haddy, a continuación te dejamos un informe con el producto que acabas de canjear.
          El mismo llegará a la puerta de tu casa en el correr de estos días. <br /><br />

          Si ocurre algún invonveniente o queres saber el estado de tu envío, recordá que podés contactar con nosotros. <br />

          <p style = "font-weight: bold; font-size: 18px; text-align: center;">
            {{{ contenidoEmail }}}
          </p>

          <hr />

          <p style = "color: rgb(220,42,103); font-weight: bold; font-size: 18px; text-align: center;">
            Total: {{ totalPuntos }} Puntos
          </p>

          <p style = "font-weight: 500; font-size: 18px; text-align: center;">
            Saludos, <br />
            El equipo de Haddy.
          </p>
        </p>
      </div>

      <div style = "padding: 3% 10%; font-family: 'Quicksand'; font-size: 18px; font-weight: 500; color: white; background: rgb(80,78,77); background: linear-gradient(90deg, rgba(80,78,77,1) 0%, rgba(115,104,103,1) 100%);" >
        <span style = "margin-left: 46%;"><b>©</b> Haddy</span> <br />
        <span style = "margin-left: 42%;"><b>☏ </b> 091 901 310</span>
      </div>
    </div>
  </body>
</html>
