.main {
  font-weight: 600;
}

/* Banner */

.loading-sprite {
  position: relative;
  top: -200px;
  text-align: center;
}

.bar-ph {
  position: relative;
  height: 45.5px;
}

.banner {
  width: 100%;
  height: 25em;
  object-fit: cover;
}

/* Flechas del banner */
.nav {
  position: relative !important;
  transform: scale(1.5);
  transition: 0.2s ease-out;
}

.nav:hover {
  transition: 0.2s ease-in;
  transform: scale(1.8);
}

.react-slideshow-container .nav:first-of-type {
  left: 50px;
}

.react-slideshow-container .nav:last-of-type {
  right: 50px;
}

.nav > span {
  border-color: grey !important;
}

/* Ãcono historial pagos */

.linkActivo > i {
  color: #ffa72e !important;
}

.btns {
  position: relative;
  width: 100%;
  text-align: center;
}

.fa-book {
  border-right: 1px solid red;
  border-left: 1px solid red;
}

.fa-book, .fa-chart-pie, .fa-box-open {
  font-size: 30px;
  color: #ff0460;
  padding: 0.5% 2.5%;
  cursor: pointer;
}

/* Items */

.loading-items {
  padding: 11% 0;
}

.items {
  width: 75%;
  font-weight: 600;
  padding: 0 12%;
}

.div-initial {
  width: 30%;
  padding: 1% 0;
}

.thumbnail {
  width: 80%;
  height: 60%;
  object-fit: contain;
  cursor: pointer;
}

.div-initial, .div-servicio > p {
  padding: 1% 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.puntos {
  color: #F0910F;
}

/* Servicios */

.servicios {
  justify-content: center;
  width: 100%;
  font-weight: 600;
  text-transform: uppercase;
}

.div-servicio {
  width: 30%;
  padding: 2% 0;
}

.img-servicio {
  width:  75% !important;
  height: 80%;
  object-fit: contain;
  border-radius: 0 !important;
}

/* Recuperar Password */
.recuperarPassword {
  text-align: center;
}

/* Historial de pagos */

.puntos {
  font-size: 23px;
  padding-top: 4%;
  font-family: 'Poppins', sans-serif;
}

.historial-pagos {
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 0.5% 5%;
  margin: 2% auto;
  border-bottom: 1px solid red;
}

.historial-pagos:last-child {
  border-bottom: none;
}

.historial-pagos > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 12%;
}

.historial-factura {
  color: #E21D3D;
}

.historial-nombre {
  color: #A864E2;
  font-size: 25px;
}

.historial-fecha {
  color: #e21da0;
}

.sin-facturas {
  color: white;
  font-size: 20px;
  text-align: center;

  background: #f39310fa;
  border-radius: 25px;
  padding: 2% 2%;
  width: 30%;
  margin: 3% auto;
}

@media only screen and (min-width: 1920px) {
}

/* Firefox */
@-moz-document url-prefix() {
}

/* Mobile */
@media only screen and (max-width: 900px) {
}
